{#
/**
 * @file
 * Default theme implementation for a view template to display a list of rows.
 *
 * Available variables:
 * - attributes: HTML attributes for the container.
 * - rows: A list of rows for this list.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's contents.
 * - title: The title of this group of rows. May be empty.
 * - list: @todo.
 *   - type: Starting tag will be either a ul or ol.
 *   - attributes: HTML attributes for the list element.
 *
 * @see template_preprocess_views_view_list()
 *
 * @ingroup themeable
 */
#}
{% if attributes -%}
  
{% endif %}
  {% if title %}
    <h3>{{ title }}</h3>
  {% endif %}

  <div class="orbit" role="region" data-orbit>
  <{{ list.type }}{{ list.attributes }} class="orbit-container">
    <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
    <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>

    {% for row in rows %}
      {% if loop.first %}
        <li class="is-active orbit-slide" {{ row.attributes }}>
      {% else %}
        <li class="orbit-slide" {{ row.attributes }}>
      {% endif %}
          {{ row.content }}
        </li>
    {% endfor %}

  </{{ list.type }}>

{% if attributes -%}
  </div>
{% endif %}
